*{
    font-family: Poppins;
    background-color: salmon;
}

.grid-container{
    display: flex;
    justify-content:center ;
    align-items: center;
    
   
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
     box-shadow: 10px 10px 5px #5d5d5d75;
    margin: 15% 20%;
    
}

.grid-item{
    width: 300px;
    background-color: salmon;
    border-radius: 10px;
    
    justify-content: center;
}

.form{
    background-color: salmon;
    padding: 30px;
    color: white;
}

.hasil{
    background-color: salmon;
    padding: 30px;
    color: white;
    text-align: justify;
    padding: 45px;

}

input{
    border-radius: 5px;
    margin-bottom: 10px;
    width: 200px;
    margin-left: 10px;
}

#img{
    padding: 3px 15px;
    border: 1px solid black;
}

#tombol{
    background-color: white;
    color: salmon;
    border: none;
    margin-left: 50px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    padding: 5px 0px;
}

h1{
    text-align: center;
    color: white;
}